.Maincontent_SelfIntro {
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.Intro_box_self {
    background-image: url('../../Component/background_image_url.png');
    padding: 20px;
    margin-right: 15px; 
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(129, 129, 129);
    width: 350px;
    white-space: pre-wrap;
    margin-bottom: 20px;
}

.Intro_box_self p {
    white-space: pre-line;
    margin: 0;
    line-height: 2.0;
    font-size: 18px;
}

