
.LoginContainer {
    text-align: center;
    margin-top: 30px;
  }
  
  .LoginForm {
    width: 40%;
    border: 1px solid #ccc;   
    padding: 10px;
    background-color: #ffffff;
  }
  

  .LoginForm td {
    padding: 10px;
    font-size: 20px;
  }
  
  .LoginButton {
    background-color: #fff9f9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .LoginButton:hover {
    background-color: #a5a5a5;
    color: white;
  }
  