.Maincontent_SelfIntro_Main{
    padding: 5% 10% 5% 10%;
    display: flex;
    flex-direction: row;
    
}
.Intro_box_Main{
    background-color: #fff;
	padding: 20px;
	margin-bottom: 15px;
	border-radius: 8px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    float: left;
    margin-left:8%;
    white-space: nowrap;
    line-height: 1.5; 
      
}
.Logo_image img {
    margin-right: 10px; 
}