/* 모달을 화면 가득 채우는 오버레이 */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* 모달창 디자인 */
  .container {
    width: 300px;
    max-width: 90%; /* 화면 너비의 90%로 설정 */
    height: 200px;
    position: relative;
    background-color: gray;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    transform: scale(0.8); /* 작게 보이도록 스케일 적용 */
    opacity: 0; /* 초기에 투명도 0으로 설정 */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* 부드럽게 나타나도록 트랜지션 적용 */
  }
  
  .overlay.active .container {
    transform: scale(1); /* 트랜지션 발생 시, 정상 크기로 확대 */
    opacity: 1; /* 트랜지션 발생 시, 투명도를 1로 설정 */
  }
  
  /* 모달창 내부 X버튼 */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  
  /* 모달 내 이미지 */
  .modalImage {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px; /* 이미지 위에 여백 추가 */
  }
  